<!-- <!DOCTYPE html>
<html>
<head>
    <title>Email Project</title>
</head>
<body>
    <h1>Welcome to the Email Project!</h1>
    <p>Please choose an option below:</p>

    <form action="/login" method="GET">
        <button type="submit">Login</button>
    </form>

    <form action="/register" method="GET">
        <button type="submit">Register</button>
    </form>
</body>
</html> -->

<div class="jumbotron">
    <h1>Site Authentication!</h1>
    <p class="lead">Welcome aboard.</p>
</div>
